.ipynb_checkpoints
.vscode
gray images/ihab/6.jpeg
gray images/ihab/7.jpeg
gray images/ihab/4.jpeg
gray images/ihab/3.jpeg
gray images/ihab/2.jpeg
gray images/ihab/1.jpeg
gray images/mhmd/1.jpeg
gray images/mhmd/2.jpeg
gray images/mhmd/3.jpeg
gray images/mhmd/4.jpeg
